body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(161, 215, 240, 0.45), rgba(161, 215, 240, 0.45));
}
div {
    display: inline;

}
#images-container img{
    height: 10vh;
    width: 5vw;
    background: red;

}
button{
    width: 200px;
    height: 40px;
    text-align: center;
    background-color: gray;
    color: navy;
}

p{
    margin-top:5px;
    color: navy;
}
.game-container{
    display: grid;
    height: 10vh;
    grid-template-columns: 32vw 150px;
}
h1{
    color:navy;
    display: block;
}
.game-title-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

