body {
    margin: 0;
}
h1{
    font-size: 4em;
    text-align: center;
    margin: 0;
}
h2{
    font-size: 3.5em;
    text-align: center;
}
p{
    font-size: 2.5em;
}
.vh-100{
    height: 100vh;
}
.vw-100{
    width: 100vw;
}

.background-images{
    background-image: linear-gradient(to right, rgba(0, 26, 255, 0.45), rgba(0, 26, 255, 0.45)), url(images/first-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    background-attachment: fixed;
    margin-bottom: 20px;
}
.center-text{
    position: relative;
    text-align: center;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.about-me{
    text-align: center;
    align-items: center;
    padding-right: 15vw;
    padding-left: 15vw;
}
.my-image{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    align-items: center;
    
}
.about-me p{
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    max-width: 1140px;
}
.skills-container{
    position: relative;
    display: grid;
    max-width: 1024px;
    left: 50%;
    transform: translate(-50%,0%);
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    padding-right:50px ;
   
}
.skills{
    padding: 0px 25px;
    margin-bottom: 10px;
}
.skills p{
    position: relative;
    top: 50%;
    margin: 0;
    display: inline;
    font-size: 1.25em; 
}
.skill-rate{
    display: inline;
    font-size: 1.5em;
    float: right;

}

.filled-star{
    color: yellow;
}
.half-filled-start{
    background: linear-gradient(to right, yellow 50%, black 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
.projects-container{
    position: relative;
    display: grid;
    max-width: 900px;
    left: 50%;
    transform: translate(-50%,0%);
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10vh;
    margin-bottom: 10vh;

}
.project{
    background-image: url("images/mirashop.jpg");
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border:7px solid yellow;
    padding: 10px;
    width: 250x;
    margin: 10px;
    
}
.link-project{
    text-decoration: none;
    align-items: center;
    text-align: center;
}
.project h3{
    display: none;
}
.project p{
    display: none;
}
.project:hover{
    background-image: linear-gradient(to right, rgba(0, 26, 255, 0.45), rgba(0, 26, 255, 0.45)), url("images/mirashop.jpg");

}
.project:hover h3{
    display: block;
    text-align: center;
    font-size: 1.75em;
    color: white;
   
}
.project:hover p{
    display: block;
    text-align: center;
    color: white;
    font-size: 1.5em;

}
.anime-kingdom{
    background-image: url("images/animekingdom.jpeg");
}
.anime-kingdom:hover{
    background-image: linear-gradient(to right, rgba(0, 26, 255, 0.45), rgba(0, 26, 255, 0.45)), url("animekingdom.jpeg");
}
.to-do-it{
    background-image: url("images/todoit.png");
}
.to-do-it:hover{
    background-image: linear-gradient(to right, rgba(0, 26, 255, 0.45), rgba(0, 26, 255, 0.45)), url("todoit.png");
}
.memory-game{
    background-image: url("images/memorygame.jpg");
 
}
.memory-game:hover{
    background-image: linear-gradient(to right, rgba(0, 26, 255, 0.45), rgba(0, 26, 255, 0.45)), url("images/memorygame.jpg");
}
.education{
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    max-width: 900px;
    padding-left: 15vw;
    padding-right:15vw ;
}
.education p{
    font-size: 1.5em;
    margin: 0;
    color: gray;
}
.course-title{
    font-weight: 800;
}
.course{
    margin-bottom: 3rem;
  
}
.contact-container{
    color: white;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    
}
.contact-container h1{
    font-size: 2.5em;
    text-align: left;
    margin: 20px;
   
}
.contact-container p{
    font-size: 2em;
    text-align: left;
    margin: 20px;
   
}
.contact-container h4{
    
    margin: 20px;
    font-size: 1.75em;
}

.footer{
    background-color:rgb(53, 49, 49) ;
}

.copy-right{
    text-align: center;
    margin: 0;
    font-size: 1.5em;
}
@media screen and (max-width: 992px) {
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    p{
        font-size: 1.5em;
    }
    .about-me p{
        max-width: 600px;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .skills-container{
        grid-template-columns: 1fr;
        max-width: 600px;
    }
    .skills p{
        font-size: 1.25em;
    }
    .skill-rate{
        font-size: 1.5em;
    }
    .projects-container{
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
         
    }
    .project{
        height: 230px;
        width: 230px;
    }
    .project:hover h3{
        font-size: 1.5em;
    }
    .project:hover p{
        font-size: 1.25em;
    }
    .education{
        max-width: 600px;
        padding-right: 10vw;
        padding-left: 10vw;
    }
   
    .course-title{
        font-weight: 800;
    }
    .course{
        margin-bottom: 40px;
    }
    
    contact-container h1{
        font-size: 2em;
    }
    .contact-container p{
        font-size: 1.5em;
    }
    .contact-container h4{
        font-size: 1.25em;
    }
    .my-image{
        width: 200px;
        height: 200px;
    }
   
       
    
  }
@media screen and (max-width: 600px) {
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
    }
    .about-me p{
        max-width: 500px;
    }
    .skills p{
        font-size: 1em;
    }
    .skill-rate{
        font-size: 1.25em;
    }
    .skills-container{
        max-width: 500px;
    }
    .projects-container{
        grid-template-columns: 1fr;
        max-width: 500px;
            
    }
    .project{
        height: 200px;
        width: 200px;
    }
    .education{
        max-width: 500px;
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .education p{
        font-size: 1em;
    }
    .contact-container{
        grid-template-columns: 1fr;
    }
    .about-me{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .my-image{
        width: 150px;
        height: 150px;
    }
  }